<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--   别名包 -->
    <typeAliases>
        <typeAlias alias="Managers" type="com.pojo.Managers"/>
        <typeAlias type="com.pojo.Personal_accounts" alias="Personal_accounts"/>
        <typeAlias type="com.pojo.Personal_cards" alias="Personal_cards"/>
    </typeAliases>
    <!--   别名包扫描-->
    <mappers>
        <package name="com.dao"/>
    </mappers>

</configuration>