<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ManagerDao">
    <!--查询是否存在某人-->
    <select id="login" resultType="java.lang.String">
        select manager_name from managers
        where manager_no=#{manager_no} and manager_password=#{manager_password}
    </select>
    <!--查询所有请求操作的用户信息-->
    <select id="queryAll" resultType="java.lang.String">
        select account from personal_auth where isAuthorized='0' or hasError='0' or preSave='0'
    </select>
    <!--更改用户权限-->
    <update id="changeAuthToOne">
        update personal_auth
        set isAuthorized=1
        where account=#{account}
    </update>
    <!--检查是否需要开户-->
    <select id="checkAuthorized" resultType="java.lang.Integer">
        select isAuthorized from personal_auth where account=#{account}
    </select>
    <!--检查是否有报错-->
    <select id="checkHasError" resultType="java.lang.Integer">
        select hasError from personal_auth where account=#{account}
    </select>
    <!--检查是否需要预存项目-->
    <select id="checkPreSave" resultType="java.lang.Integer">
        select preSave from personal_auth where account=#{account}
    </select>
</mapper>
