<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.WelcomeDao">
    <!--  查询是否存在用户  -->
    <select id="checkUser" parameterType="java.lang.String" resultType="java.lang.String">
    select * from Personal_accounts where id_account=#{id_account}
    </select>
    <!--查询用户密码是否正确-->
    <select id="checkUserPassword" parameterType="Personal_accounts" resultType="java.lang.String">
    select id_account from Personal_accounts where id_account=#{id_account} and account_password=#{account_password}
    </select>
    <!--新增账户信息-->
    <insert id="saveUser" parameterType="Personal_accounts">
        insert into Personal_accounts (account , id_account , account_password , active_time)
        values(#{account} , #{id_account} , #{account_password} , #{active_time})
    </insert>
    <!--查询电话号码是否正确-->
    <select id="checkUserTele" parameterType="Telephones" resultType="java.lang.String">
        select id_account from telephones where id_account=#{id_account} and telephone=#{telephone}
    </select>
    <!--检查是否是该行卡号-->
    <select id="checkBelongs" parameterType="java.lang.String" resultType="java.lang.String">
        select id_account from telephones where id_account=#{id_account}
    </select>
    <!--登录检查-->
    <select id="login" parameterType="Personal_accounts" resultType="java.lang.String">
        select id_account from personal_accounts where telephone=#{telephone} and account_password=#{account_password}
    </select>
</mapper>